.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.edit {
  color: rgb(45, 27, 46);
}

.delete {
  color: red;
}

.fab-container{
  position: fixed;
  bottom: 3%;
  z-index: z('add-button');
}

.fab{
  height: 50px;
  width: 50px;
  font-size: 50px;
  margin-top: -12.5px;
}
