<div class="container">

  <h1>Controle de Fornecedores</h1>

    <table class="tabela" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Código -->
      <ng-container matColumnDef="idFornecedor">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.idFornecedor}} </td>
      </ng-container>

      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeFornecedor}} </td>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
        <td mat-cell *matCellDef="let element"> {{element.cpfCnpj}} </td>
      </ng-container>

      <!-- Telefones -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefones </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.telefone2">
            {{element.telefone1}} / {{element.telefone2}}
          </div>
          <div *ngIf="!element.telefone2">
            {{element.telefone1}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <br>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
