.container {
  width: 90%;
  margin: auto;
}

.tabela {
  width: 30%;
  margin: auto;
}

button {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  //font-weight: bold;
}

.edit {
  color: rgb(47, 157, 231);
}

.delete {
  color: red;
}
