.card{
    width: 90%;
    height: 50%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
}

 .paragrafo{

   font-size: 12px;
   font-weight: bold;

 }

 img{

    height: 10rem;
    width: 14rem;
    margin: auto;
    padding-bottom: 40px;
 }
