<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Princesinha do Alho</mat-card-title>
    <mat-card-subtitle> {{anoAtual}} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/imagens/alho.png" alt="Image Home do sistema">
  <mat-card-content>
    <p class="paragrafo">
     Olá, seja bem vindo ao Sistema de Controle Comercial da Princesinha do Alho. <br/> Acesse do lado esquerdo o
     pelo botão no canto superior esquerdo e tenha acesso as funcionalidades do sistema.
    </p>
  </mat-card-content>
</mat-card>
