<app-card-form tituloFormulario="Atualizar Cliente">
    <!--Tag section que passa um nome de class e com isso é selecionada lá no card-crud-->
    <section class="card-form-content">

        <!--

    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
-->
        <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>

            <mat-step [stepControl]="firstFormGroup" errorMessage="Campo nome é obrigratório.">
                <form>
                    <ng-template matStepLabel>Dados Principais</ng-template>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Nome Completo</mat-label>
                        <input [(ngModel)]="clienteUpdate.nome" name="nome" matInput placeholder="" required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>CPF:</mat-label>
                        <input [(ngModel)]="clienteUpdate.cpf" name="cpf" matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Data de Nascimento:</mat-label>
                        <input [(ngModel)]="clienteUpdate.dataNascimento" name="dataNascimento" matInput placeholder="">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Avançar</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form>
                    <ng-template matStepLabel>Endereço</ng-template>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Tipo Endereço:</mat-label>
                        <input matInput placeholder="Rua, Avenida, Estrada, Beco..." required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Logradouro:</mat-label>
                        <input [(ngModel)]="clienteUpdate.endereco.logradouro" name="clienteEnderecoLogradouro" matInput
                            placeholder="Insira a descrição...">
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Número:</mat-label>
                        <input [(ngModel)]="clienteUpdate.endereco.numero" name="clienteNumero" matInput
                            placeholder="Numero da casa, prédio..." required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>CEP:</mat-label>
                        <input [(ngModel)]="clienteUpdate.endereco.cep" name="clienteCep" matInput
                            placeholder="Numero da casa, prédio..." required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Complemento:</mat-label>
                        <input [(ngModel)]="clienteUpdate.endereco.complemento" name="clienteComplemento" matInput
                            placeholder="Bloco/Apto, fundos..." required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Nome do Condomínio:</mat-label>
                        <input [(ngModel)]="clienteUpdate.endereco.condominio" name="clienteEnderecoCondominio" matInput
                            placeholder="Caso seja Condomínio informe o nome...">
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Observação ou Ponto de Referência:</mat-label>
                        <input [(ngModel)]="clienteUpdate.observacao" name="clienteEnderecoObservacao" matInput
                            placeholder="Casa nos fundos, bater no portão, soltar fogos.. etc...">
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Bairro:</mat-label>
                        <input matInput matInput [(ngModel)]="clienteUpdate.endereco.bairro" name="clienteBairro"
                            placeholder="Insira o nome..." required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Municipio:</mat-label>
                        <input matInput [(ngModel)]="clienteUpdate.endereco.municipio" name="clienteMunicipio"
                            placeholder="Insira o nome..." required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Estado:</mat-label>
                        <input matInput [(ngModel)]="clienteUpdate.endereco.estado" name="clienteEnderecoEstado" 
                            placeholder="Insira o estado..." required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext>Avançar</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <ng-template matStepLabel>Contatos</ng-template>
                <ng-template matStepLabel>Contatos</ng-template>
                <form>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Telefone Principal:</mat-label>
                        <input [(ngModel)]="clienteUpdate.telefone1" name="clienteUpdate.Telefone1" matInput
                            placeholder="" required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Telefone Recado:</mat-label>
                        <input [(ngModel)]="clienteUpdate.telefone2" name="clienteTelefone2" matInput
                            placeholder="Pai, Mãe, Vizinho.. etc">
                    </mat-form-field>
                    <mat-form-field class="fullWidth" appearance="fill">
                        <mat-label>Email:</mat-label>
                        <input [(ngModel)]="clienteUpdate.email" name="clienteEmail" matInput placeholder="" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button (click)="update()">Atualizar</button>
                        <button mat-button routerLink="../../">Cancelar</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </section>
</app-card-form>