html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-image: url("assets/imagens/planofundoalho.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // opacity: 0.80;
}

.filter {
  width: 25%;
  margin: left;
  font-size: 12.5px;
}
